<p id="notice"><%= notice %></p>

<h1 id="product">Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <a href="#"><h3><%= product.name %></h3></a>
        <p><%= product.description %></p>
        <strong><%= product.price %></strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<br>

<button class="btn btn-success"><%= link_to 'New Product', new_product_path %></button>
